@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* @import url('https://fonts.googleapis.com/css2?family=K2D&display=swap'); */

body {
  background: rgb(240, 249, 255);
  color: black;
  font-family: 'K2D', sans-serif;
  font-size: 16px;
}

.font {
  font-family: 'K2D';
}

/* SECTION HEADER ************************** */
.section-header {
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  width: 100%;
  font-weight: 600;
  color: #317ACC;
  margin-bottom: 1rem;
}

.section-sub-title {
  font-size: 1.5rem;
  line-height: 2rem;
  width: 100%;
  font-weight: 600;
  color: #317ACC;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
  }
}

/* Blog container */
.blog-container {
  color: black;
  /* display: flex;
  justify-content: start; */
  width: 100%;
  margin: auto;
  overflow: hidden;
}

/* .blog-container .section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
} */

.blog-container .section h1,
.blog-container .section h2,
.blog-container .section h3 {
  margin-top: 10px;
  padding-bottom: 5px;
  color: #317ACC;
  line-height: normal;
}

.blog-container .section h1 {
  font-size: 2rem;
}

.blog-container .section h2 {
  font-size: 1.5rem;
}

.blog-container .section h3 {
  font-size: 1.3rem;
}

.blog-container .section h4 {
  font-size: 1.3rem;
}

.blog-container .section a {
  color: #317ACC;
  text-decoration: underline;
}

.blog-container .section p {
  font-size: 1.1rem;
  line-height: 24px;
  margin-bottom: 10px;
}

.blog-container .section ul {
  margin: 10px 0;
  padding: 0 20px;
  list-style-position: inside;
  list-style-type: square;
}

.blog-container .section ol {
  margin: 10px 0;
  padding: 0 20px;
  list-style-position: inside;
  list-style-type: lower-latin;
}

.blog-container .section li {
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.blog-container table {
  width: 100%;
  font-size: 1.1rem;
  border-collapse: collapse;
  margin: 1rem 0;
}

.blog-container table thead, 
.blog-container table thead tr {
  background-color: black;
  color: #fff;
}

.blog-container table thead tr th {
  padding: 10px;
  border: 1px solid #ccc;
  font-weight: bold;
  text-align: left;
}

.blog-container table tbody tr:nth-child(even) {
  background-color: white;
}

.blog-container table tbody tr td {
  padding: 0.5rem;
  border: 1px solid #ccc;
  text-align: left;
}

.blog-container tfoot caption {
  caption-side: bottom;
  padding: 10px;
  font-size: 1.2rem;
  color: #333; 
}

.blog-container tbody tr td ul {
  list-style-position: inside;
  list-style-type: circle;
}

.blog-container code,
.blog-container pre {
  background-color: #d6e0f5;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 1.1rem;
  line-height: 1.5;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

.blog-container blockquote {
  border-left: 5px solid #317ACC;
  padding-left: 10px;
  margin-bottom: 10px;
  color: #333;
  font-style: italic;
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: justify;
  font-weight: 300;
  font-family: Georgia, serif;
  letter-spacing: 0.02em; 
}

@media screen and (max-width: 768px) {
  .blog-container .section p, 
  .blog-container .section li,
  .blog-container .section table,
  .blog-container .section blockquote,
  .blog-container .section code,
  .blog-container .section pre {
    font-size: 1rem;
  }
}

/* Privacy Policy  */

/* .container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.section {
  margin-bottom: 30px;
}

.section h1,
.section h2,
.section h3 {
  color: #333;
}

.section h2 {
  font-size: 2em;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.section h3 {
  font-size: 1.5em;
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.section h4 {
  font-size: 1.2em;
  margin-top: 15px;
  margin-bottom: 10px;
}

.section p {
  margin-bottom: 10px;
}

.section ul {
  margin: 10px 0;
  padding: 0 20px;
  list-style-position: inside;
}

.section li {
  margin-bottom: 5px;
}

.contact-info {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-left: 5px solid #333;
}

.contact-info p {
  margin: 0;
  font-weight: bold;
}

.contact-info a {
  color: #333;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.important-note {
  background-color: #ffeb3b;
  padding: 10px;
  border-left: 5px solid #f44336;
  margin-bottom: 20px;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table thead {
  background-color: #333;
  color: #fff;
}

table thead tr th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

tfoot caption {
  caption-side: bottom;
  padding: 10px;
  font-size: 1.2em;
  color: #333; 
}

tbody tr td ul {
  list-style-position: inside;
  list-style-type: circle;
} */

/* Trending stories */

#article-description p, #article-description span {
  display: none;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#article-description:hover p, #article-description:hover span {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

#article-description h3 {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}

#article-description:hover h3 {
  transform: translateY(-20px);
}

@media screen and (max-width: 800px) {
  #article-description p, #article-description span {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
}
